<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="com.hqei.server.dao.SysPermissionDao" >
  <resultMap id="BaseResultMap" type="com.hqei.server.domain.SysPermissionDo" >
    <id column="id" property="id" jdbcType="BIGINT" />
    <result column="menu_code" property="menuCode" jdbcType="VARCHAR" />
    <result column="menu_name" property="menuName" jdbcType="VARCHAR" />
    <result column="permission_code" property="permissionCode" jdbcType="VARCHAR" />
    <result column="permission_name" property="permissionName" jdbcType="VARCHAR" />
    <result column="required_permission" property="requiredPermission" jdbcType="INTEGER" />
  </resultMap>

  <resultMap id="permissionMap" type="com.hqei.server.vo.UserPermissionInfoVo">
    <id column="userId" property="userId"/>
    <result column="nickname" property="nickname"/>
    <collection property="roleIds" ofType="Long">
      <id column="roleId"/>
    </collection>
    <collection property="roleNames" ofType="String">
      <id column="roleName"/>
    </collection>
    <collection property="menuList" ofType="String">
      <id column="menuCode"/>
    </collection>
    <collection property="permissionList" ofType="String">
      <id column="permissionCode"/>
    </collection>
  </resultMap>

  <sql id="Base_Column_List" >
    id, menu_code, menu_name, permission_code, permission_name, required_permission
  </sql>
  <select id="selectByPrimaryKey" resultMap="BaseResultMap" parameterType="java.lang.Long" >
    select 
    <include refid="Base_Column_List" />
    from sys_permission
    where id = #{id,jdbcType=BIGINT}
  </select>
  <delete id="deleteByPrimaryKey" parameterType="java.lang.Long" >
    delete from sys_permission
    where id = #{id,jdbcType=BIGINT}
  </delete>
  <insert id="insert" parameterType="com.hqei.server.domain.SysPermissionDo" >
    insert into sys_permission (id, menu_code, menu_name, 
      permission_code, permission_name, required_permission
      )
    values (#{id,jdbcType=BIGINT}, #{menuCode,jdbcType=VARCHAR}, #{menuName,jdbcType=VARCHAR}, 
      #{permissionCode,jdbcType=VARCHAR}, #{permissionName,jdbcType=VARCHAR}, #{requiredPermission,jdbcType=INTEGER}
      )
  </insert>
  <insert id="insertSelective" parameterType="com.hqei.server.domain.SysPermissionDo" >
    insert into sys_permission
    <trim prefix="(" suffix=")" suffixOverrides="," >
      <if test="id != null" >
        id,
      </if>
      <if test="menuCode != null" >
        menu_code,
      </if>
      <if test="menuName != null" >
        menu_name,
      </if>
      <if test="permissionCode != null" >
        permission_code,
      </if>
      <if test="permissionName != null" >
        permission_name,
      </if>
      <if test="requiredPermission != null" >
        required_permission,
      </if>
    </trim>
    <trim prefix="values (" suffix=")" suffixOverrides="," >
      <if test="id != null" >
        #{id,jdbcType=BIGINT},
      </if>
      <if test="menuCode != null" >
        #{menuCode,jdbcType=VARCHAR},
      </if>
      <if test="menuName != null" >
        #{menuName,jdbcType=VARCHAR},
      </if>
      <if test="permissionCode != null" >
        #{permissionCode,jdbcType=VARCHAR},
      </if>
      <if test="permissionName != null" >
        #{permissionName,jdbcType=VARCHAR},
      </if>
      <if test="requiredPermission != null" >
        #{requiredPermission,jdbcType=INTEGER},
      </if>
    </trim>
  </insert>
  <update id="updateByPrimaryKeySelective" parameterType="com.hqei.server.domain.SysPermissionDo" >
    update sys_permission
    <set >
      <if test="menuCode != null" >
        menu_code = #{menuCode,jdbcType=VARCHAR},
      </if>
      <if test="menuName != null" >
        menu_name = #{menuName,jdbcType=VARCHAR},
      </if>
      <if test="permissionCode != null" >
        permission_code = #{permissionCode,jdbcType=VARCHAR},
      </if>
      <if test="permissionName != null" >
        permission_name = #{permissionName,jdbcType=VARCHAR},
      </if>
      <if test="requiredPermission != null" >
        required_permission = #{requiredPermission,jdbcType=INTEGER},
      </if>
    </set>
    where id = #{id,jdbcType=BIGINT}
  </update>
  <update id="updateByPrimaryKey" parameterType="com.hqei.server.domain.SysPermissionDo" >
    update sys_permission
    set menu_code = #{menuCode,jdbcType=VARCHAR},
      menu_name = #{menuName,jdbcType=VARCHAR},
      permission_code = #{permissionCode,jdbcType=VARCHAR},
      permission_name = #{permissionName,jdbcType=VARCHAR},
      required_permission = #{requiredPermission,jdbcType=INTEGER}
    where id = #{id,jdbcType=BIGINT}
  </update>

  <select id="getUserPermission" resultMap="permissionMap">
    SELECT
    u.id              userId,
    u.nickname        nickname,
    ur.role_id         roleId,
    r.role_name       roleName,
    p.menu_code       menuCode,
    p.permission_code permissionCode
    FROM sys_user u
    LEFT JOIN sys_user_role ur ON u.id = ur.user_id
    LEFT JOIN sys_role r ON r.id = ur.role_id
    LEFT JOIN sys_role_permission rp ON ur.role_id = rp.role_id
    LEFT JOIN sys_permission p ON rp.permission_id = p.id AND rp.status = '1'
    WHERE u.username = #{username}
    AND u.status = '1' AND r.id =  #{roleId}
  </select>
  <select id="getAllPermission" resultType="String">
    SELECT p.permission_code permissionCode
    FROM sys_permission p
    ORDER BY p.id
  </select>
  <select id="getAllMenu" resultType="String">
    SELECT p.menu_code menuCode
    FROM sys_permission p
    ORDER BY p.id
  </select>

  <resultMap id="listAllPermissionMap" type="com.hqei.server.vo.SysPermissionVo">
    <id column="menuName" property="menuName"/>
    <collection property="permissions" ofType="com.hqei.server.domain.SysPermissionDo">
      <id column="id" property="id"/>
      <result column="permissionName" property="permissionName"/>
      <result column="requiredPerm" property="requiredPermission" javaType="Integer"/>
    </collection>
  </resultMap>

  <select id="listAllPermission" resultMap="listAllPermissionMap">
    SELECT
    p.id                  id,
    p.menu_name           menuName,
    p.permission_name     permissionName,
    p.required_permission requiredPerm
    FROM sys_permission p;
  </select>
</mapper>